[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libgravatar = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
alembic = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
