[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libgravatar = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
alembic = "*"
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
fastapi-mail = "*"
python-dotenv = "*"
fastapi = {extras = ["all"], version = "*"}
fastapi-limiter = "*"
cloudinary = "*"
pydantic-settings = "*"
redis = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.10"
