[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
mongoengine = "*"
redis = "*"
redis-lru = "*"
pika = "*"
faker = "*"
configparser = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
